<h1>Homepage</h1> 
<login class="login">
  <a href="/user/login">Login</a>
</login>
<register class="register">
    <a href="/user/register">Register</a>
</register>

    <div class="article-list">
        {{#articles}}
        <article>
            <a href="/article/{{slug}}"><img src="/images/{{image}}" alt=""></a>
            <h2><a href="/article/{{slug}}">{{name}}</a></h2>
        </article>
        {{/articles}}
    </div>
