<h1>Login</h1>

<form method="post" action="/user/login">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" required>  


  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required>

  <button type="submit" href="">Login</button>
</form>